@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Almendra+Display&family=Irish+Grover&family=Josefin+Slab&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
.mandatory-snap-container {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
      